---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";

changeLanguage("en");

let contacts = [
    {
        title: "Branding",
        email: "branding@fusionflare.io",
        phone: "+351 (933) 651-883",
    },
    {
        title: "Human Resources",
        email: "hr@fusionflare.io",
        phone: "+351 (933) 651-883",
    },
    {
        title: "Software Engineering",
        email: "softwareengineering@fusionflare.io",
        phone: "+351 (937) 893-255",
    },
    {
        title: "Research and Development",
        email: "research@fusionflare.io",
        phone: "+351 (937) 893-255",
    },
];
---

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Contact</Fragment>
			<Fragment slot="desc">Get in Touch.</Fragment>
		</Sectionhead>

		<div class="py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
					<div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
						<div>
							<script src="https://cdn.lordicon.com/lordicon.js"></script>
							<lord-icon class="m-auto"
								src="https://cdn.lordicon.com/wzrwaorf.json"
								trigger="loop"
								colors="primary:#EAE2B7,secondary:#003049"
								style="width:150px;height:150px">
							</lord-icon>
							<h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Departments</h2>
							<p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">Reach Out to Our Dedicated Teams.</p>
						</div>
						<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8 ">
							{
								contacts.map((item) => (
									<div class="rounded-2xl bg-gray-50 dark:bg-stone-800 p-10 transition ease-in-out delay-150 cursor-pointer hover:-translate-y-1 hover:scale-105 hover:shadow-[5px_5px_rgba(234,226,183,1.000),_10px_10px_rgba(234,226,183,_0.7),_15px_15px_rgba(234,226,183,_0.6),_20px_20px_rgba(234,226,183,_0.5),_22px_22px_rgba(234,226,183,_0.4)]  duration-150">
										<h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">{item.title}</h3>
										<dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
											<div>
												<dt class="sr-only">Email</dt>
												<dd>
													<a class="font-semibold text-stone-600 dark:text-white" href="mailto:collaborate@example.com">
														{item.email}
													</a>
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">Phone number</dt>
												<dd>{item.phone}</dd>
											</div>
										</dl>
									</div>
								))
							}
						</div>
					</div>
					<br/>
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white border-none">
						<script src="https://cdn.lordicon.com/lordicon.js"></script>
						<lord-icon
							src="https://cdn.lordicon.com/wzwygmng.json"
							trigger="loop"
							colors="primary:#EAE2B7,secondary:#003049"
							style="width:50px;height:50px">
						</lord-icon>
						Get yor Proposal</h2>
					<form class="border-none">
						<div class="grid gap-6 mb-6 md:grid-cols-2">
							<div>
								<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
								<input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
							</div>
							<div>
								<label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
								<input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required>
							</div>
							<div>
								<label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company</label>
								<input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Fusion Flare" required>
							</div>
							<div>
								<label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number</label>
								<input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123-45-678">
							</div>
							<div>
								<label for="website" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Website URL</label>
								<input type="text" id="website" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="yoursite.com">
							</div>
							<div class="mb-6">
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
								<input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required>
							</div>
						</div>
						<button type="submit" class="text-white bg-[#003049] hover:bg-[#EAE2B7] hover:text-[#003049] duration-150 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
					</form>

				</div>
			</div>
		</div>
	</Container>
</Layout>
