---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "What is this?",
		description: "This is a use of tailwindcss and alpinejs",
	},
	{
		title: "Why alpinejs? Why don't just use js?",
		description: "Alpine js is less than 17kb and it make javascript very fast to write, there are also various open source ready to use components like https://js.hyperui.dev, https://www.alpinetoolbox.com/examples, https://alpinejs.dev/components#components",
	},
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	/*{
		title: "I don't need multiple language, how can I remove it?",
		description: `One way is to simply keep one language and remove the selector from the footer but in order to fully remove the localization you have to: <br/>
					<ul style="list-style: inside;">
						<li>Remove the i18next pacakage <code>npm unistall astro-i18next</code></li>
						<li>Remove <code>astro-i18next.config.mjs</code> file</li>
						<li>Remove <code>locales</code> folder from public</li>
						<li>Remove <code>languageselector.astro</code> file and from footer</li>
						<li>Find all reference to <code>i18next</code> and <code>astro-i18next</code> and replace with your text</li>
					</ul>`
	},*/
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	/*{
		title: "How can I change the localization languages?",
		description: `In order to change the languages you have to change the languages in the file <code>astro-i18next.config.mjs</code> and in the netlifyCMS configuration on the file <code>astro.config.mjs</code> <br/>
					Then change the locales files folders in <code>public/locales</code>`,
	},*/
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	},
	{
		title: "What is Lorem Ipsum??",
		description: "From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage."
	}
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">{t("faq.title")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
