---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "Where should I be located to work with Fusion Flare?",
		description: "You can be located (almost) anywhere on the planet.",
	},
	{
		title: "Does Fusion Flare charge me to receive a proposal?",
		description: "No! Our proposals are always free. However, proposals do have a 1-month expiration, so your project cost might need to be reevaluated if committing after the proposal expires.",
	},
	{
		title: "How does Fusion Flare communicate with clients? How do I communicate with Fusion Flare??",
		description: "We believe that effective communication is essential for business success. Each project has a communication plan. Some projects will require weekly or bi-weekly meetings, while many others may only require meetings in between milestones. We prefer to communicate in the most straightforward and efficient manner for the respective purpose. As such, for project related meetings, we generally use video-conferencing with Google Meet, Jitsi, or Zoom. All other general communication can be conducted by phone, email, or even in-person if the client's location allows it."
	},
	{
		title: "Can you give me a fixed-price quote?",
		description: "Yes, this is our preferred method of billing and budgeting. We collaborate with you to establish a clear project scope before providing you with a fixed-price estimate to complete the work. Once the scope is established, you can rely on us to produce exactly what has been ordered, at the exact price. There are no hidden fees or costs, and everything is straightforward and plain. "
	},
	/*{
		title: "I don't need multiple language, how can I remove it?",
		description: `One way is to simply keep one language and remove the selector from the footer but in order to fully remove the localization you have to: <br/>
					<ul style="list-style: inside;">
						<li>Remove the i18next pacakage <code>npm unistall astro-i18next</code></li>
						<li>Remove <code>astro-i18next.config.mjs</code> file</li>
						<li>Remove <code>locales</code> folder from public</li>
						<li>Remove <code>languageselector.astro</code> file and from footer</li>
						<li>Find all reference to <code>i18next</code> and <code>astro-i18next</code> and replace with your text</li>
					</ul>`
	},*/
	{
		title: "Will my website be responsive? Will they work on mobile devices?",
		description: "Yes, all of our websites are built to be responsive. The only exceptions are special cases (things like art installations, interactive experiences, digital signage) where something is being built for a specific device."
	},
	{
		title: "Do you employ the use of templates?",
		description: "No, we custom design websites from A to Z, based on the customer’s needs and goals for each project."
	},
	{
		title: "How much does a website cost??",
		description: "Just contact us! We can give you a rough idea based on your needs, or a free proposal with more accurate pricing, once you’re ready for that."
	},
	/*{
		title: "How can I change the localization languages?",
		description: `In order to change the languages you have to change the languages in the file <code>astro-i18next.config.mjs</code> and in the netlifyCMS configuration on the file <code>astro.config.mjs</code> <br/>
					Then change the locales files folders in <code>public/locales</code>`,
	},*/
	{
		title: "Is Fusion Flare currently hiring new team members?",
		description: "Yes, we are constantly on the lookout for rare gems to join our team. Send us your application, resume/CV, and portfolio by email: Fusionflare.tech@gmail.com. "
	},
	{
		title: "I have a question that isn’t listed here",
		description: "Please let us hear it: Fusionflare.tech@gmail.com"
	}
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10 duration-150">

		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">❓{t("faq.title")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
