---
---
<br/>
<br/>
<div class="m-auto w-full h-auto" id="about">
<!-- ====== About Section Start -->
	<!--class="overflow-hidden w-full pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] dark:bg-stone-950"-->
	<section class="px-4 py-24 mx-auto max-w-7xl">
		<div class="grid items-center grid-cols-1 mb-24 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24">
			<div>
				<h2 class="mb-4 text-2xl dark:text-white font-extrabold tracking-tight text-center text-black md:leading-tight sm:text-left md:text-4xl transition ease-in-out delay-150 cursor-pointer hover:-translate-y-1 hover:scale-110 dark:hover:text-[#eb332e] hover:text-[#ed372e] duration-200">Web Design & Development</h2>
				<p class="mb-5 text-base text-center text-justify text-gray-600 sm:text-left md:text-lg dark:text-white">
					Every web design project at Brand Vision is unique and treated with the utmost care. Our team of award-winning web designers and web developers have a knack for creating visually stunning websites that are also functional and effective at achieving their goals. Whether you need a simple informational website or a complex e-commerce platform, we have the expertise to bring your brand's online presence to life. Let us help you create the perfect online presentation for your business.
				</p>
				<!--<a href="#" class="w-full btn btn-dark btn-lg sm:w-auto">Learn More</a>-->
				<button
					class="overflow-hidden relative w-32 p-2 h-12 dark:bg-red-200 bg-black text-white border-none rounded-2xl text-xl font-bold cursor-pointer relative z-10 group"
				>
					Hover me!
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-red-400 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-bottom"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-white rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-bottom"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-red-600 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-bottom"
					></span>
					<span
						class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10"
					>Explore!</span
					>
				</button>

			</div>
			<div class="w-full h-full bg-gray-200 rounded-2xl shadow-2xl shadow-[#dd2c29]">
				<img
					src="https://assets-global.website-files.com/630bc5625ada9a1e2dbb10a6/65319890a2dd71af22af2bd8_Branding%20Graphics.svg"
					alt=""
					class="w-full rounded-2xl"
				/>
			</div>
		</div>
		<div class="grid flex-col-reverse items-center grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24">
			<div class="order-none md:order-2">
				<h2 class="mb-4 dark:text-white text-2xl font-extrabold tracking-tight text-center text-black md:leading-tight sm:text-left md:text-4xl transition ease-in-out delay-150 cursor-pointer hover:-translate-y-1 hover:scale-110 dark:hover:text-[#46d3fe] hover:text-[#46d3fe] duration-200">Branding & Strategy</h2>
				<p class="mb-5 text-base text-center text-gray-600 sm:text-left md:text-lg text-justify dark:text-white">
					Brand Vision can help your brand truly succeed in today's digital world by creating a strong brand identity and a creative visual design.
					Our goal is to help your company achieve consistency, memorability, and credibility, and attract your target audience in the most effective way possible. We consider the psychology of branding in your target market while also considering a unique design perspective.  Our award-winning branding and design team has facilitated the success of our projects with their extensive industry knowledge and experience.
				</p>
				<!--<a href="#" class="w-full btn btn-dark btn-lg sm:w-auto">Learn More</a>-->
				<button
					class="overflow-hidden relative w-32 p-2 h-12 dark:bg-white dark:text-black bg-black text-white border-none rounded-2xl text-xl font-bold cursor-pointer relative z-10 group"
				>
					Hover me!
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-sky-200 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-right"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-sky-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-right"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-sky-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-right"
					></span>
					<span
						class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10"
					>Explore!</span
					>
				</button>

			</div>
			<div class="w-full h-auto bg-gray-200 rounded-2xl shadow-2xl shadow-cyan-500">
					<img
						src="https://assets-global.website-files.com/630bc5625ada9a1e2dbb10a6/6531988e4ec912c7e94cad3a_Website%20Graphics.svg"
						alt=""
						class="w-full rounded-2xl"
					/>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="grid items-center grid-cols-1 mb-24 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24">
			<div>
				<h2 class="mb-4 text-2xl dark:text-white font-extrabold tracking-tight text-center text-black md:leading-tight sm:text-left md:text-4xl transition ease-in-out delay-150 cursor-pointer hover:-translate-y-1 hover:scale-110 dark:hover:text-emerald-600 hover:text-emerald-600 duration-200">Analysis & Summery</h2>
				<p class="mb-5 text-base text-center text-justify text-gray-600 sm:text-left md:text-lg dark:text-white">
					Every web design project at Brand Vision is unique and treated with the utmost care. Our team of award-winning web designers and web developers have a knack for creating visually stunning websites that are also functional and effective at achieving their goals. Whether you need a simple informational website or a complex e-commerce platform, we have the expertise to bring your brand's online presence to life. Let us help you create the perfect online presentation for your business.
				</p>
				<!--<a href="#" class="w-full btn btn-dark btn-lg sm:w-auto">Learn More</a>-->
				<button
					class="overflow-hidden relative w-32 p-2 h-12 dark:bg-blue-400 bg-black text-white border-none rounded-2xl text-xl font-bold cursor-pointer relative z-10 group"
				>
					Hover me!
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-[#14532d] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
					></span>
					<span
						class="absolute w-36 h-32 -top-8 -left-2 bg-[#75d798] rotate-12 transform scale-x-0 group-hover:scale-x-50 transition-transform group-hover:duration-1000 duration-500 origin-left"
					></span>
					<span
						class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10"
					>Explore!</span
					>
				</button>

			</div>
			<div class="m-auto rounded-2xl shadow-2xl dark:shadow-[#374151] shadow-[#dcfce7]">

				<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
					<div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
						<div class="flex items-center">
							<div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
								<svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
									<path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
									<path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
								</svg>
							</div>
							<div>
								<h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">3.4k</h5>
								<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Leads generated per week</p>
							</div>
						</div>
						<div>
      <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
        </svg>
        42.5%
      </span>
						</div>
					</div>

					<div class="grid grid-cols-2">
						<dl class="flex items-center">
							<dt class="text-gray-500 dark:text-gray-400 text-sm font-normal me-1">Money spent:</dt>
							<dd class="text-gray-900 text-sm dark:text-white font-semibold">$3,232</dd>
						</dl>
						<dl class="flex items-center justify-end">
							<dt class="text-gray-500 dark:text-gray-400 text-sm font-normal me-1">Conversion rate:</dt>
							<dd class="text-gray-900 text-sm dark:text-white font-semibold">1.2%</dd>
						</dl>
					</div>

					<div id="column-chart"></div>
					<div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
						<div class="flex justify-between items-center pt-5">
							<!-- Button -->
							<button
								id="dropdownDefaultButton"
								data-dropdown-toggle="lastDaysdropdown"
								data-dropdown-placement="bottom"
								class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
								type="button">
								Last 7 days
								<svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
								</svg>
							</button>
							<!-- Dropdown menu -->
							<div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
								<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
									<li>
										<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
									</li>
									<li>
										<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
									</li>
									<li>
										<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
									</li>
									<li>
										<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
									</li>
									<li>
										<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a>
									</li>
								</ul>
							</div>
							<a
								href="#"
								class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
								Leads Report
								<svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
				<script>
					// ApexCharts options and config
					window.addEventListener("load", function() {
						const options = {
							colors: ["#37affb", "#75d798"],
							series: [
								{
									name: "Organic",
									color: "#37affb",
									data: [
										{ x: "Mon", y: 231 },
										{ x: "Tue", y: 122 },
										{ x: "Wed", y: 63 },
										{ x: "Thu", y: 421 },
										{ x: "Fri", y: 122 },
										{ x: "Sat", y: 323 },
										{ x: "Sun", y: 111 },
									],
								},
								{
									name: "Social media",
									color: "#75d798",
									data: [
										{ x: "Mon", y: 232 },
										{ x: "Tue", y: 113 },
										{ x: "Wed", y: 341 },
										{ x: "Thu", y: 224 },
										{ x: "Fri", y: 522 },
										{ x: "Sat", y: 411 },
										{ x: "Sun", y: 243 },
									],
								},
							],
							chart: {
								type: "bar",
								height: "320px",
								fontFamily: "Inter, sans-serif",
								toolbar: {
									show: false,
								},
							},
							plotOptions: {
								bar: {
									horizontal: false,
									columnWidth: "70%",
									borderRadiusApplication: "end",
									borderRadius: 8,
								},
							},
							tooltip: {
								shared: true,
								intersect: false,
								style: {
									fontFamily: "Inter, sans-serif",
								},
							},
							states: {
								hover: {
									filter: {
										type: "darken",
										value: 1,
									},
								},
							},
							stroke: {
								show: true,
								width: 0,
								colors: ["transparent"],
							},
							grid: {
								show: false,
								strokeDashArray: 4,
								padding: {
									left: 2,
									right: 2,
									top: -14
								},
							},
							dataLabels: {
								enabled: false,
							},
							legend: {
								show: false,
							},
							xaxis: {
								floating: false,
								labels: {
									show: true,
									style: {
										fontFamily: "Inter, sans-serif",
										cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
									}
								},
								axisBorder: {
									show: false,
								},
								axisTicks: {
									show: false,
								},
							},
							yaxis: {
								show: false,
							},
							fill: {
								opacity: 1,
							},
						}

						if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
							const chart = new ApexCharts(document.getElementById("column-chart"), options);
							chart.render();
						}
					});
				</script>

			</div>
		</div>
	</section>

<!-- ====== About Section End -->
</div>